<div class="col-xs-12 col-sm-8">
    <%= link_to image_tag( product.image_path), product_path(product) %> 
    <div>
        <h5 ><%= product.name %></h5>
        <p> <%= "Price #{product.price}" %></p>
    </div>
</div>