 <div class="card" style="width: 10rem;">
            <%= link_to image_tag( product.image_path), product_path(product), class: "card-img-top" %> 
            <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"> <%= "Price #{product.price}" %></p>
            </div>
        </div>